{% extends "productos/base.html" %}
{% load static %}
{% block title %} Eliminar producto{% endblock %}



{% block content %}
<h1 align="center">Eliminar producto</h1>

<form action="eliminar_producto" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col s4"></div>
            <div class="input-field col s4">
                <label>Ingrese codigo de producto a eliminar: </label>
                <input type="text" name="codigo" >
                <input type="submit" name="opcion" value="Eliminar">
            </div>
        <div class="col s4"></div>
    </div>
</form>

{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function(){
        $('.materialboxed').materialbox();});
    </script>
{% endblock %}