<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'css/cssprueba2.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left">Veganx</a>
          <ul id="nav-mobile" class="right">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'products' %}">Productos</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'agregar' %}">Agregar Productos Productos</a></li>
              <li><a href="{% url 'editar' %}">Editar Productos</a></li>
              <li><a href="{% url 'eliminar' %}">Eliminar Productos</a></li>
              <li><a href="{% url 'listar' %}">Listar Productos</a></li>
              <li><a href="#">Usuario: {{ user.username }}</a></li>
              <li><a href="/accounts/logout">Cerrar sesión</a></li>
            {% else %}
              <li><a href="/accounts/login">Iniciar sesión</a></li>
              <li><a href="/accounts/register">Registrarse</a></li>
            {% endif %}
          </ul>
        </div>
    </nav>

    <footer>
        <div class="card-panel">
            Veganx® Derechos Reservados 2020
        </div>
    </footer>

    {% block content %}

    {% endblock %}

    <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/iniciador.js' %}"></script>

    {% block javascript %}

    {% endblock %}


</body>
</html>