{% extends "productos/base.html" %}
{% load static %}

{% block title %} Veganx {% endblock %}


{% block content %}
<div class="row">
            <p>Destacado</p>
        </div>
        <div class="row">
            <!--Carrusel de materialize imagenes destacadas(class="carousel")-->
            <div class="carousel">
                <a class="carousel-item"><img src="{% static 'img/beyond-hamburguesa.png' %}" alt=""></a>
                <a class="carousel-item"><img src="{% static 'img/manjar-cacao.png' %}" alt=""></a>
                <a class="carousel-item"><img src="{% static 'img/queso-merken.png' %}" alt=""></a>
                <a class="carousel-item"><img src="{% static 'img/beyond-sausage.png' %}" alt=""></a>
                <a class="carousel-item"><img src="{% static 'img/leche-coco.png' %}" alt=""></a>
            </div>
        </div>

        <h2>Medios de pago aceptados:</h2>
        <!--Imagen redcompra-->
        <img id="red" src="{% static 'img/redcompra-visa.png' %}" alt="">

{% endblock %}


{% block javascript %}

{% endblock %}