{% extends "productos/base.html" %}
{% load static %}

{% block title %} Veganx {% endblock %}


{% block content %}
<div class="row">
            <p>Destacado</p>
        </div>
        <div class="row">
            <!--Carrusel de materialize imagenes destacadas(class="carousel")-->
            <div class="carousel">
                <a class="carousel-item"><img src="{% static 'img/beyond-hamburguesa.png' %}" alt=""></a>
                <a class="carousel-item"><img src="{% static 'img/manjar-cacao.png' %}" alt=""></a>
                <a class="carousel-item"><img src="{% static 'img/queso-merken.png' %}" alt=""></a>
                <a class="carousel-item"><img src="{% static 'img/beyond-sausage.png' %}" alt=""></a>
                <a class="carousel-item"><img src="{% static 'img/leche-coco.png' %}" alt=""></a>
            </div>
        </div>

        <style>
  	        #map {
            height: 500px;
            margin-right: 500px;
            margin-left: 500px
            }
	    </style>

        <h2>¿Dónde nos encontramos?</h2>
        <div id ="map"> </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA1-1N_ehXnv3m_jxbLJzzVTlHnLCPcsA&callback=initMap" async defer></script>
        <script type="text/javascript">
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -33.5925656, lng: -70.7023632},
                zoom: 16.32
            });
            var marker = new google.maps.Marker({
                position: {lat: -33.5922583, lng: -70.7027153},
                map: map,
            title: 'Veganx'
                });
            }
        </script>
        <br>
        <br>
        <h2>Medios de pago aceptados:</h2>
        <!--Imagen redcompra-->
        <img id="red" src="{% static 'img/redcompra-visa.png' %}" alt="">



{% endblock %}


{% block javascript %}

{% endblock %}